#time
		{
			width: 200px;
            height: 50px;
            line-height: 50px;
            border: 1px dotted #333;
            text-align: center;
            margin-bottom: 20px;
            font-size: 22px;
		}
		#presenter
		{
			font-size: 17px;
			visibility: hidden;
		}
		
		input[type="button"] {
            border: none;
            padding: 10px;
            background-color: rgba(255, 255, 255, 0.601);
            cursor: pointer;
        }
body{
    display:grid;
    place-items:center;
    background-color:rgb(0, 0, 0);
    color:#ffffff;
    font-family:'IBM Plex Sans',sans-serif;
    }
