#timeDiv {
    font-size: 4em;
    text-align: center;
    font-family: Arial;
    margin-top:1em;
  }
  .bigBtn {
    font-size: 2em;
    margin: 8px;
  }
  .confirmBtn {
    font-size: 1em;
    margin: 2px;
  }
  body{
    display:grid;
    place-items:center;
    background-color:rgb(0, 0, 0);
    color:#ffffff;
    font-family:'IBM Plex Sans',sans-serif;
  }
